<!DOCTYPE html>
<html>
<head lang="en">
    <title>Lesson 4</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
</head>   
<body>
        <div class="wrapper">
            <header class="header">
            <div class="clearfix content">
                <a href="#" class="logo">
                    <img src="images/global-logo.png" alt="Global">
                </a>
                <nav class="header-menu">
                    <ul class="top-menu clearfix">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Portfolio</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Services</a></li>
                        <li><a href="#">Projects</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </nav>
            </header>
            <div class="slider">
                <div class="content clearfix">
                    <div class="study-images">
                        <img src="images/slider-images.png">
                    </div>
                    <div class="study-text">
                        <p class="study-text-paragraph">
                            Lorest Nesto Gravido Forum
                        </p>
                        <p>
                            Duis porta ultrices elit sed consequat. Suspendisse nunc orci, molestie sed mollis nec, facilisis at ligula. Donec ultrices varius lacinia. Pellentesque id tortor non justo consequat pulvinar
                        </p>
                    <a href="#" class="button">
                            See More
                    </a>
                    </div>
                </div>
            </div>
            </div>
            <div class="main content">
                <div class="apply-container">
                <div class="apply clearfix">
                    <p class="text-line">
                        Duis porta ultrices elit sed consequat.
                        Suspendisse nunc orci molestie sed.
                    </p>
                    <form action="#" method="POST" class="form">
                        <input type="text" name="email" placeholder="Email" class="text-field">
                        <button class="submit-email" type="submit">Submit</button>
                    </form>
                </div>
                </div>
                <div class="goods">
                    <ul class="list-of-goods clearfix">
                        <li class="item">
                            <h1>
                                <i>
                                    <img src="images/browsers.png">
                                </i>
                                Ultricies Lacinia Pulvinar
                            </h1>
                            <p class="goods-paragraph">
                                Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. 
                            </p>
                            <button class="item-see-more" type="submit">See More</button>
                        </li>
                        <li class="item">
                            <h1>
                                <i>
                                    <img src="images/basket.png">
                                </i>
                                Magnust Minima Sed Quia
                            </h1>
                            <p class="goods-paragraph">
                                Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea asekin morir commodi consequatur?
                            </p>
                            <button class="item-see-more" type="submit">See More</button>
                        </li>
                        <li>
                            <h1>
                                <i>
                                    <img src="images/mouse.png">
                                </i>
                                Ultricies Lacinia Pulvinar
                            </h1>
                            <p class="goods-paragraph">
                                Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
                            </p>
                            <button class="item-see-more" type="submit">See More</button>
                        </li>
                    </ul>
                    <ul class="layouts clearfix">
                        <li class="layouts-item">
                            <div class="item-shadow">
                                <img src="images/terrion.png">
                            </div>
                            <h1 class="goods-header">
                                Magnust Alecet Fernum
                            </h1>
                            <p class="goods-paragraph">
                                Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et.
                            </p>
                        </li>
                        <li class="layouts-item">
                            <div class="item-shadow">
                                <img src="images/psdstyle.png">
                            </div>
                            <h1 class="goods-header">
                                Quia Porro Venium
                            </h1>
                            <p class="goods-paragraph">
                                Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et.
                            </p>
                        </li>
                        <li class="layouts-item">
                            <div class="item-shadow">
                                <img src="images/diagrams.png">
                            </div>
                            <h1 class="goods-header">
                                Dolorest Nuwuam Et Lobiare
                            </h1>
                            <p class="goods-paragraph">
                                Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et.
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="footer-wrap">
                <div class="footer-wrap-menu content">
                    <div class="footer-menu clearfix">
                        <div class="footer-menu-item">
                            <h1 class="footer-menu-header">
                                About Us
                            </h1>
                            <p class="footer-txt">
                                Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et.
                            </p>
                            <p class="footer-txt blank-space">
                                Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et.
                            </p>
                            <button type="submit" value="more" class="footer-buttons more-footer-btn">More</button>
                        </div>
                        <div class="footer-menu-item">
                            <h1 class="footer-menu-header">
                                Quick Links
                            </h1>
                            <ul class="footer-submenu">
                                <li class="menu-link">
                                    <a href="#">
                                        Some Menu Link 1
                                    </a>
                                </li>
                                <li class="menu-link">
                                    <a href="#">
                                        Some Menu Link 2
                                    </a>
                                </li>
                                <li class="menu-link">
                                    <a href="#">
                                        Some Menu Link 3
                                    </a>
                                </li>
                                <li class="menu-link">
                                    <a href="#">
                                        Some Menu Link 4
                                    </a>
                                </li>
                                <li class="menu-link">
                                    <a href="#">
                                        Some Menu Link 5
                                    </a>
                                </li>
                                <li class="menu-link">
                                    <a href="#">
                                        Some Menu Link 6
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="footer-menu-item">
                            <h1 class="footer-menu-header">Contact Us</h1>
                            <form name="contacts" method="POST">
                            	<p class="contacts-fields">
                            	<input type="text" placeholder="Name" class="enter-data">
                                </p>
                                <p class="contacts-fields">
                            	<input type="text" placeholder="Email" class="enter-data">
                                </p>
                                <p>
                            	<textarea placeholder="Your message" class="enter-text"></textarea>
                                </p>
                                <p>
                            	<button type="submit" value="Submit" class="footer-buttons submit-footer-btn">Submit</button>
                            	</p>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="footer">
                    <div class="content">
                        <span class="copyright">
                        © 2011 PSD Style All Rights Reserved
                        </span>
                    </div>
                </div>
            </div>
        </div>
</body>
</html>
