<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initiale scale=1">
    <title>Cheshirskaya</title>
	<link href='https://fonts.googleapis.com/css?family=PT+Sans+Narrow' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="css/style.css">
</head>   
    <body>
        <div class="wrapper">
            <div class="slideshow">
                <button class="down">
                    <img src="images/arrow.png" alt="Arrow">
                </button>  
                <div class="logo">
                    <a href="#">
                    	<h1>
                        	<img src="images/moon.png" alt="Cheshirskaya">
                    	</h1>
                    </a>
                </div>
                <div class="circle">
                    <a href="#">
                        <img src="images/triangle.png" alt="Triangle">
                    </a>
                </div>  
            </div>
            <div class="nav-wrap">
                <nav class="navigation">
                    <ul class="clearfix top-menu">
                        <li class="nav-item">
                            <a href="#1">About me</a>
                        </li>
                        <li class="nav-item">
                            <a href="#2">Services</a>
                        </li>
                        <li class="nav-item">
                            <a href="#3">Portfolio</a>
                        </li>
                        <li class="nav-item">
                            <a href="#4">Clients</a>
                        </li>
                        <li class="nav-item">
                            <a href="#5">Contact</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="main">
            <div class="content">
            <section class="about-the-author clearfix">
                <h2 class="section-title">
                    About me
                </h2>
                <div class="info">
                    <h3>
                        Leonardo da Vinci  was an Italian Renaissance polymath: painter, sculptor, architect, musician, mathematician, engineer, inventor, anatomist, geologist, cartographer, botanist, and writer. His genius, perhaps more than that of any other figure, epitomized the Renaissance humanist ideal. 
                    </h3>
                    <h3 class="info-paragraph">
                        Leonardo has often been described as the archetype of the Renaissance Man.
                    </h3>
                </div>       
                <div class="girl-bird-block clearfix">
                    <div class="small-bird">
                    	 <img src="images/smbird.png" alt="small bird"> 
                    </div>
                    <div class="girl">
                    	 <img src="images/girl.png" alt="a girl"> 
                    </div>
                    <div class="big-bird">
                    	 <img src="images/bigbird.png" alt="big bird"> 
                    </div>
                </div>
            </section>
            </div>
            <section class="service">
                <div class="content">
                	<h2 class="section-title">
                    	Services
                	</h2> 
                <div class="services">
                	<ul class="services-list clearfix">
                    	<li class="services-item">
                        	<div class="services-icon">
                            	<img src="images/layout.png" alt="Service button"> 
                        	</div>
                        	<a href="#" class="services-item-title">
                        		web design
                        	</a>
                    	</li>
                    	<li class="services-item">
                        	<div class="services-icon">
                            	<img src="images/pen.png" alt="Service button">
                        	</div>
                        	<a href="#" class="services-item-title">
                        		graphic design
                        	</a>
                    	</li>
                    	<li class="services-item">
                        	<div class="services-icon">
                            	<img src="images/pencil.png" alt="Service button">
                        	</div>
                         	<a href="#" class="services-item-title">			
                         		illustration
                         	</a>      
                    	</li>
                    </ul>
                </div>
                </div>
            </section>
            <div class="skills"></div>
            <section class="portfolio">
                <div class="folio">
                    <h2 class="section-title">
                        Portfolio
                    </h2>
                </div>
                <div class="works clearfix">
                    <div class="portf-item">
                        <img src="images/spivaymo.png" alt="Spivaymo">
                    </div>
                    <div class="portf-item">
                        <img src="images/pray.png" alt="Pray Icon">  
                    </div>
                    <div class="portf-item">
                        <img src="images/bug.png" alt="The Bug">  
                    </div>
                    <div class="portf-item ">
                        <img src="images/mountains.png" alt="The Mountains">  
                    </div>
                    <div class="portf-item ">
                        <img src="images/trip-the-plane.png" alt="Trip the plane">
                    </div>
                    <div class="portf-item">
                         <img src="images/georgia.png" alt="Georgia">   
                    </div>
                </div>
            </section>
            <section class="clients">
                <div class="content">
            	<div class="triangle"></div>
                <h2 class="section-title stclients">
                	Clients
                </h2>
                <div class="clients-list clearfix">
                    <div class="clients-item clients-itemf"></div>
                    <div class="clients-item clients-items"></div>
                    <div class="clients-item clients-itemt"></div>
                    <div class="clients-item clients-itemfor"></div>
                    <div class="clients-item clients-itemfif"></div>
                    <div class="clients-item clients-itemsix"></div>
                </div>
                </div>
            </section>
            </div>
            <footer class="main-footer">
            <div class="content">
            	<h2 class="section-title contact">
            		Contact
            	</h2>
            	<div class="inner-wrap clearfix">
                	<div class="inner-element form">
                		<form action="mailto:cheshirrrsky@gmail.com" method="GET" name="userdata">
                			<p class="form-element">
                				<input type="text" name="username" placeholder="Your Name" tabindex="1" class="footer-form">
                			</p>
                			<p class="form-element form-interval">
                				<input type="text" name="useremail" placeholder="Your Email" tabindex="2" class="footer-form">
                			</p>
                			<p class="form-element form-interval">
                				<textarea name="usermessage" placeholder="Your Message" tabindex="3" class="footer-form msg-area"></textarea>
                			</p>
                			<p class="form-btn">
                				<input type="submit" value="send" class="sendbtn">
                			</p>
                		</form>
                	</div>
                	<div class="inner-element contactblock">
                		<h3 class="contact-about">
                			Leonardo was, and is, renowned primarily as a painter. Among his works, the Mona Lisa is the most famous and most parodied portrait and The Last Supper the most reproduced religious painting of all time, with their fame approached only by Michelangelo's The Creation of Adam Leonardo is revered for his technological ingenuity.
                		</h3>
                		<ul class="contact-detlist">
                			<li>
                				<div class="contact-info clearfix">
                					<img src="images/envelope.png" alt="e-mail" class="envelope">
                					<span class="contact-details">
                						cheshirrrsky@gmail.com
                					</span>
                				</div>
                			</li>
                			<li>
                				<div class="contact-info clearfix">
                					<img src="images/cellphone.png" alt="cell" class="cellphone">
                					<span class="contact-details">
                						+38 096 095 00 62
                					</span>
                				</div>
                			</li>
                			<li>
                				<div class="contact-info clearfix">
                					<img src="images/skype.png" alt="skype" class="skype">
                					<span class="contact-details">
                						cheshirrrsky
                					</span>
                				</div>
                			</li>
                		</ul>
                	</div>
                </div>
            </div>
        </footer>  
        <div class="bottom-footer">
        	<ul class="network-list">
        		<li class="networks">
        			<a href="https://www.behance.net/Kseniya_Cheshirskaya" target="_blank">
        				<img src="images/behance.png" alt="behance">
        			</a>
        		</li>
        		<li class="networks">
        			<a href="https://www.facebook.com/kseniya.cheshirsky" target="_blank">
        				<img src="images/facebook.png" alt="facebook">
        			</a>
        		</li>
        		<li class="networks">
        			<a href="#" target="_blank">
        				<img src="images/youtube.png" alt="youtube">
        			</a>
        		</li>
        		<li class="networks">
        			<a href="#" target="_blank">
        				<img src="images/instagram.png" alt="instagram">
        			</a>
        		</li>
        	</ul>
        </div>
        </div>  
    </body>    
</html>

