<!DOCTYPE html>
<html>
<head lang="en">
    <title>Web Challenge</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=devise-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
</head>   
<body>
        <div class="wrapper">
           <div class="main">
           <div class="topBlock">
               <div class="content">
                    <div class="topBlock__header clearfix">
                    <div class="topBlock__form">
                        <ul class="logInField clearfix">
                            <li class="logInField__item">
                                <a href="#">
                                    Log In
                                </a>
                            </li>
                            <li class="logInField__item">
                                <a href="#">
                                    Sign Up
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="topBlock__logo">
                        <h1 class="topBlock__logo-font">
                            <a href="#">
                                URLAUBSGLÜCK
                            </a>
                        </h1>
                    </div>
                </div>
                <div class="topBlock__centrtxt">
                    <h1>
                        Share your<br> holiday dreams
                    </h1>
                    <p>
                        And find the perfect partner to fullfill it
                    </p>
                    <button class="centrtxt__btn">
                        Find your holiday partner
                    </button>
                </div>
              </div>
            </div>
            <article class="sliders content">
                <p class="articleTitle">
                    How Urlaubsglück works?
                </p>
                <div class="slidersWrap clearfix">
                    <div class="sliders__item">
                       <span class="prev"></span>
                       <img src="images/slider1.png" alt="Слайд1">
                       <div class="sliders__text">
                        <span class="textLabel">
                         Step 1   
                        </span>
                        <p class="sliders__firstParagraph">
                            Sed leo enim, condimentum
                        </p>
                        <p class="sliders__secondParagraph">
                           Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis. 
                        </p>
                        </div>
                        <span class="next"></span>
                    </div>
                    <div class="sliders__item">
                        <span class="prev"></span>
                        <img src="images/slider2.png" alt="Слайд2">
                        <div class="sliders__text">
                        <span class="textLabel">
                          Step 2 
                        </span>
                        <p class="sliders__firstParagraph">
                           Morbi velit risus 
                        </p>
                        <p class="sliders__secondParagraph">
                            Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est.
                        </p>
                        </div>
                         <span class="next"></span>
                    </div>
                    <div class="sliders__item">
                       <span class="prev"></span>
                       <img src="images/slider3.png" alt="Слайд3">
                       <div class="sliders__text">
                       <span class="textLabel">
                           Step 3  
                       </span> 
                       <p class="sliders__firstParagraph">
                           Sed leo enim, condimentum
                       </p>
                       <p class="sliders__secondParagraph">
                           Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.
                       </p>
                        </div>
                        <span class="next"></span>
                    </div>
                </div>
                <p class="midBlockTitle">
                    Meet a partner for your best holiday
                </p>
                <div class="midBlock clearfix">
                    <div class="midBlock__item">
                        <img src="images/partner1.png" class="midBlock__image" alt="Партнер1">
                        <p class="midBlock__paragraph midBlock__paragraph1">
                            Bradley Hunter
                        </p>
                        <p class="midBlock__paragraph">
                            Based in Chicago. I love playing tennis and loud music.
                        </p>
                    </div>
                    <div class="midBlock__item">
                         <img src="images/partner2.png" class="midBlock__image" alt="Партнер2">
                        <p class="midBlock__paragraph midBlock__paragraph1">
                            Heather Walker
                        </p>
                        <p class="midBlock__paragraph">
                            I'm a happy person that loves cats and climbing on mountains.
                        </p>
                    </div>
                    <div class="midBlock__item">
                         <img src="images/partner3.png" class="midBlock__image" alt="Партнер3">
                        <p class="midBlock__paragraph midBlock__paragraph1">
                            Lucas Marsha
                        </p>
                        <p class="midBlock__paragraph">
                            I get my inspiration from nature and objects around me. I have a passion of colours, photography and skateboards.
                        </p>
                    </div>
                    <div class="midBlock__item">
                        <img src="images/partner4.png" class="midBlock__image" alt="Партнер4">
                        <p class="midBlock__paragraph midBlock__paragraph1">
                            Bradley Hunter
                        </p>
                        <p class="midBlock__paragraph">
                            Based in Chicago. I love playing tennis and loud music.
                        </p>
                    </div>
                </div>
                <button class="midBlock__button">
                        See other partners
                </button>
                <div class="lowBlock clearfix">
                    <p class="lowBlock__title">
                        Discover holiday activity ideas
                    </p>
                    <div class="lowBlock__item item_width">
                        <img src="images/runner.png" alt="Sport and Activity" class="lowBlock__img">
                        <h1 class="lowBlock__h1">
                            Sport and Activity
                        </h1>
                    </div>
                    <div class="lowBlock__item item_width">
                        <img src="images/yoga.png" alt="Wellnes and Health" class="lowBlock__img">
                        <h1 class="lowBlock__h1">
                            Wellnes and Health
                        </h1>
                    </div>
                    <div class="lowBlock__item marginAbsence item_width">
                        <img src="images/mounting.png" alt="Extreme Sports and Expeditions" class="lowBlock__img">
                        <h1 class="lowBlock__h1">
                            Extreme Sports and Expeditions
                        </h1>
                    </div>
                    <div class="lowBlock__item item_width">
                        <img src="images/poker.png" alt="Games" class="lowBlock__img">
                        <h1 class="lowBlock__h1">
                            Games
                        </h1>
                    </div>
                    <div class="lowBlock__item marginAbsence item_width2">
                        <img src="images/kolizey.png" alt="Culture and Education" class="lowBlock__img">
                        <h1 class="lowBlock__h1">
                            Culture and Education
                        </h1>
                    </div>
                    <div class="lowBlock__item item_width2">
                        <img src="images/spa.png" alt="Relaxation" class="lowBlock__img">
                        <h1 class="lowBlock__h1">
                            Relaxation
                        </h1>
                    </div>
                    <div class="lowBlock__item marginAbsence item_width">
                        <img src="images/travelling.png" alt="Travelling" class="lowBlock__img">
                        <h1 class="lowBlock__h1">
                            Travelling
                        </h1>
                    </div>
                </div>
                <div class="prefooterBlock">
                    <h1 class="prefooter__h1">
                        Discover holiday activity ideas
                    </h1>
                    <p class="prefooter__paragraph">
                       Hi! What are your holiday interests?</p>
                       <div class="prefooter__inputWrap clearfix">
                        <input type="text" name="livesearch" class="prefooter__input" placeholder="Enter your interests">
                        <button class="prefooter__searchbtn">Search partners</button>
                       </div>
                </div>
            </article>
            </div>
            <footer class="wrapfooter">
               <div class="footer">
               <div class="content clearfix">
                <div class="footer__itemLogo footer_itemfloat">
                    <a href="#">
                        URLAUBSGLÜCK
                    </a>
                </div>
                <div class="footer__itemMenu footer_itemfloat">
                    <ul class="footermenu clearfix">
                        <li class="menulist"><a href="#" class="menulistco">Company</a>
                            <ul class="dropdown-inside clearfix">
                                <li class="dropdown"><a href="#">About</a></li>
                                <li class="dropdown"><a href="#">Contacts</a></li>
                                <li class="dropdown"><a href="#">Press</a></li>
                                <li class="dropdown"><a href="#">Blog</a></li>
                            </ul>
                        </li>
                        <li class="menulist"><a href="#">Partners</a></li>
                    </ul>
                </div>
                <div class="footer__itemSponsor footer_itemfloat">
                    <p class="footer__itemSponsor1">
                        Designed by
                    </p>
                    <p class="footer__sponsorimg">
                        <a href="#"><img src="images/areto.png" alt="Areto Development"></a>
                    </p>
                </div>
                </div>
                </div>
            </footer>
        </div>
</body>
</html>
